page-audio {
  #button1{
    margin:0 35%;
    width: 30%;
    margin-top: 2rem;
  }
  .ion-item{
    ion-label{
      text-align: center;
    }
    margin-top: 2rem;
  }
  #button2{
    margin: 0 5%;
    width: 90%;
    height: 3.5rem;
  }
}
